@media (max-width: 991px)
{
  #skill-box {
    font-size: .9em;
  }
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 767px)
{
  #intro-block {
    margin-top: 0;
  }
  #contact-text {
    margin-top: 20px;
  }
  ::-webkit-input-placeholder {
    font-size: 1.2em;
  }
  input[type="text"], #contact-textarea {
    font-size: 1.2em;
  }
}